<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">Car Rental</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="cars/rental" href="#">Rentals</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transactions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="cars/add">Add Car</a></li>
            <li><a class="dropdown-item" routerLink="cars/brands/add">Add Brand</a></li>
            <li><a class="dropdown-item" routerLink="cars/colors/add" >Add Color</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <div class="dropdown me-1">
          <button *ngIf="isAuth" type="button" class="btn btn-outline-success " data-bs-toggle="dropdown" aria-expanded="false">
            {{userName | titlecase}} {{userSurname | titlecase}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li><a class="dropdown-item">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logOut()">Log out</a></li>
          </ul>
        </div>
        <button *ngIf="!isAuth" class="btn btn-outline-dark mx-3" type="submit" routerLink="login">Login</button>
        <button *ngIf="!isAuth" class="btn btn-outline-success" type="submit" routerLink="register">Register</button>
      </form>
    </div>
  </div>
</nav>
