<body class="text-center">
  <img
    class="mx-auto d-block rounded"
    src="assets/images/logo.jpg"
    class="rounded float-start"
    style="width: 45rem;"
    
    alt="..."
  />
  <main class="form-signin">
    <form [formGroup]="loginForm">
      <u class="h3 mb-3 fw-normal">Sign in</u>
<br>
<br>
      <div class="form-floating mb-3">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Parola"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn btn-outline-dark"(click)="setEmail()" (click)="login()">
        Log in
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2015–2021</p>
    </form>
  </main>
</body>
